<h3>Anatomia cabeza de ceto</h3>

    <img src="https://dibujando.net/files/fs/p/c/900x1000/2021/234/ceto_472957.jpg" width="500px" height="500px">

<h3>Partes cabeza ceto</h3>

<li>Cabeza</li>
<li>Ojos de serpiente</li>
<li>Escamas</li>
<li>Cuernos</li>

<style>
    
    
    h3 {
        color: rgb(237, 18, 18);
        
        
    }

    li {
        color: rgb(128, 182, 10);
        
    }
</style>

<h3 class="Anatomia cabeza de ceto"></h3>
<h3 class="Partes cabeza ceto"></h3>
<li class="li"></li>
